<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    
      <add key="AdminEmailAddress" value="info@improwinsolutions.com" />
    <add key="ToContactUsEmailAddress" value="info@improwinsolutions.com" />
     <add key="CcContactUsEmailAddress" value="ripanbasu@gmail.com" />
    
    
      <!--<add key="SmtpServer" value="mail.massoftind.com" />-->
     <add key="SmtpServer" value="improwinsolutions.com" />
    
      <add key="DoCC" value="true" />
      <add key="CcAddress" value="" />
      
      <add key="ErrorMailTo" value="ripanbasu@gmail.com" />
  <add key="AdminRootPath" value="http://localhost/1300Rubbish/admin/" />
    </appSettings>

</configuration>
