@{
    ViewBag.Title = "Contact";
}

<div id="headerContent"></div>

<section id="contact-info">
    <div class="center">
        <h2>How to Reach Us?</h2>
        <p class="lead">Tell us about your expectation so we can give you the right solution.</p>
        
    </div>
    <div class="footer_div">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">

                    <div class="gmap">
                        <iframe style="height:130%;width:100%;border:0;margin-top:-75px;" src="https://www.google.com/maps/embed/v1/place?q=Kolkata,+West+Bengal,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                    </div>

                </div>
                <div class="col-sm-5 col-sm-offset-1 clumn_box">
                    <h5> Improwin Software Solutions </h5>
                    <p> Web Design Company, India. Checkout.com, Inc. is an authorized retailer of Improwin Software Solutions </p> <hr />
                    <p>Improwin Solutions.&nbsp;&nbsp;        <i class="fa fa-clock-o"> 9am to 6pm</i>   <br />Shatabdi Park, Block E Kolkata - 700099</p>
                    <p><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:info@improwindolutions.com">info@improwindolutions.com</a> </p>

                </div>


            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->
<!--Start-->
<!--End-->
<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Drop Your Message</h2>
            <p class="lead">To learn more about whether our services are right for your business need, please complete the form below.</p>
        </div>
        <!--Start-->
    <div>@if (Request.HttpMethod == "GET")
            {
                @Html.Partial("~/Views/_ContactForm.cshtml")
            }
         @if (Request.HttpMethod == "POST")
         {
                @Html.Partial("~/Views/ContactFormPost.cshtml");
                <p>@ViewBag.Message</p>
            }
    </div><!--/.container-->

           

</section><!--/#contact-page-->
