<div class="homepage">
    
    <div id="headerContent"></div>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(../../images/slider/Meth3.0.png)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div style="border-style:double;border-width:thin;border-color:whitesmoke;background-color:rgba(54, 25, 25, .5);">
                                    <br /><br />
                                    <h6 class="animation animated-item-1" style="color:white; margin-left:10px">INDUSTRY TRANSFORMATION is a continuous process. Multiple form factors in consumer devices have introduced new set of complexities. Businesses largely dependent on their website as a marketing tool and selling platform are challenged solutions with the ability to render accross a broad spectrum of devices...</h6>
                                    <h6 class="animation animated-item-2" style="color:white; margin-left:10px">Continuous IMPROVISATION is the key to follow the transformation and remain competitive in the market...</h6>
                                    <h6 class="animation animated-item-3" style="color:white; margin-left:10px">Responsive Web Design is a new age solution to render same content aesthetically in different form factors...<br /><br /> <span style="font-style:italic;text-decoration:underline">We recommend but not limited to the following technology stack to build next generation solution for our customers...</span> </h6>
                                    <ul class="animation animated-item-4" style="color:white;font-weight:600; margin-left:10px">
                                        <li>ASP.NET MVC</li>
                                        <li>ASP.NET WEB API</li>
                                        <li>BootStrap, HTML5, CSS3, jQuery, jQuery-UI, Angular</li>
                                        <li>Improwin Templates</li>
                                    </ul>
                                    <br /><br />
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-1">
                                <div class="slider-img">
                                    <img src="~/images/slider/RWD_1_child3.0.png" class="img-responsive">
                                </div>
                            </div>                           
                        </div>                                                    
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(../../images/slider/Meth4.0.png)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6" style="border-style:double;border-width:thin;border-color:whitesmoke;background-color:rgba(54, 25, 25, .5);">
                                <br /><br />
                                    <h6 class="animation animated-item-1" style="color:white; margin-left:10px">Transformation and competition need solutions rapidly built using the best practices and agile methologies</h6>
                                    <h6 class="animation animated-item-2" style="color:white; margin-left:10px">Traditional Waterfall model cannot cope with the challenges in today's world</h6>
                                    <h6 class="animation animated-item-3" style="color:white; margin-left:10px">We have learned from our experience that rigidly following any model could reduce the throughput of team; therefore an experineced process lead can set proper direction for complex projects</h6>
                                <br /><br />
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="~/images/slider/Methodology.child.4.0.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(../../images/slider/Risk.bg.3.0.png)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6" style="border-style:double;border-width:thin;border-color:whitesmoke;background-color:rgba(54, 25, 25, .5);">  
                                                             
                                    <h6 class="animation animated-item-1" style="color:white; margin-left:10px">Uncertainity and volatility increases risk for complex transformation process. Careful, analytical thought process of solving problems using data is deeply ingrained in our operations. We have Sig Sigma certified process lead to provide guidance and though leadership in the early stages of development..</h6>
                                    <h6 class="animation animated-item-2" style="color:white; margin-left:10px">We believe continuous innovation in the processes we follow, will build the foundation for future for us and distinguish our customers in the market...</h6>
                                    <h6 class="animation animated-item-3" style="color:white; margin-left:10px">We do not believe in just developing a solution based on specifications given by customer. We partner with our customer at early stages and using best measurement system analysis find out the scopes for improvement in Cost, Quality and Delivery and go the groundwork together to envision a future with a mutually beneficial long term relationship..</h6>                                
                                    <ul class="animation animated-item-4" style="color:white;font-size:smaller;font-weight:400; margin-left:10px">
                                        <li>Perform a self-assessment to determine whether your business infrastructure enables the use of the standard consistent metrics and key process indicators needed to establish a baseline of current performance.</li>
                                        <li>Then, define gaps between current performance and the performance your customers expect. Modify or create new metrics, targets, and specifications as required.</li>
                                        <li>Build a strategy map using tools such as the Balanced Scorecard, which link business processes to strategic direction.</li>
                                        <li>Use a Six Sigma consulting team to assist in deployment. Poor deployments usually result in poor performance.</li>
                                        <li>Develop internal resources using Six Sigma training and ensure the methodology becomes your company’s standard business process to “sustain the gains.”</li>
                                    </ul>                                
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="~/images/slider/Risk.bg.child.3.0.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="service-item">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Services</h2>
                <p class="lead">
                    We provide complete transformation consulting and solutions development to add competitive edge to our customers. Some of the key segments are outlined below..
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div>
                            <div class="pull-left">
                                <img class="img-responsive" height="101" width="100" src="~/images/services/services1_new.png">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Web Design and Development</h3>

                            </div>
                        </div>
                        <div>
                            <p>We recommend solutions to be designed in responsive web designs standard. While keeping our focus on the business-centric aspects we make sure that the designs are aesthetic as well in accordance with the brand features and guidelines. Our objective remains to provide something functional yet extraordinary so that to give your brand an edge over your competitors and increase viewer engagement. Our commitment is to continuously change our architecture and patterns as per the direction set by changing customer behavior and evolution of devices..</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div>
                            <div class="pull-left">
                                <img class="img-responsive" height="91" width="78" src="~/images/services/services2.png">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">E-commerce solutions</h3>
                            </div>
                        </div>
                        <div>
                            <p>To create an impressive buying experience for your audience, inspire them to visit again, and turn the browsers into customers, you need a functional e-commerce solution that makes the navigation between the pages smooth and fast, enlist products functionally and develops an edgy shopping cart software that is easy to check in and check out from. Our e-commerce services ensure all these aspects. We have proprietary solutions which is a foundation strcuture to be customized as per the product line and market segment. This is built keeping in mind the small and medium businesses with limited IT budget.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div>
                            <div class="pull-left">
                                <img class="img-responsive" height="101" width="100" src="~/images/services/services5.png">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Mobile Application Development</h3>

                            </div>
                        </div>
                        <div>
                            <p>Reach your target audience on the go and increase customer engagement by opting for our mobile application development services. We keep it simple and uncomplicated so that the viewers can navigate smoothly. <br /> <br />Our expertise on responsive software architectures and Web APIs enable us to bring to the table a 360° solution to keep you covered from all angles. We have a dedicated team for paltform API development while the heart of the solution lies in RESTFUL scalable services. Createing a decoupled system and encapsulating the model in a Open API platform is our most recommended method. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div>
                            <div class="pull-left">
                                <img class="img-responsive" height="120" width="120" src="~/images/services/application support.png">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Application maintenance and Hypercare</h3>

                            </div>
                        </div>
                        <div>
                            <p>We have a dedicated team for providing quality IT services and maintenance for solutions with high availibility requirement. This team is capable of performance engineering, perform in-depth troubleshooting, fix complex defects and mainatin high quality documentation for future reference.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div>
                            <div class="pull-left">
                                <img class="img-responsive" height="78" width="78" src="~/images/services/services3.png">
                            </div>
                            <div class="media-body">
                                <div>
                                    <h3 class="media-heading">Digital Marketing</h3>

                                </div>

                            </div>
                        </div>
                        <div>
                            <p>We provide a complete digital marketing service that includes search engine optimization (SEO), social media optimization (SMO), pay per click (PPC) and other tools to help drive traffic, queries and leads to your site. We follow honest principles to top-chart you in SERP (Search engine results pages).</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div>
                            <div class="pull-left">
                                <img class="img-responsive" height="85" width="89" src="~/images/services/consulting-service.png">
                            </div>
                            <div class="media-body">
                                <div>
                                    <h3 class="media-heading">Consulting Services</h3>
                                </div>

                            </div>
                        </div>
                        <div>
                            <p>We recommend our customers to build partnership relation to engage at the advisory levels and build a business development strategy by carefully choosing the technology stacks and measure the feasibility of implementation with higher accuracy. This also helps in setting up a carefully chosen process improvement strategy with six signa experts.</p>
                        </div>
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </div>
    </section><!--/#services-->
    <section id="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown">
                    <div class="skill">
                        <h2>Our Skills</h2>
                        <p>Below Is The List Of Programs, Open Sources And Databases We Are Efficient In Handling–</p>
                        <div class="progress-wrap">
                            <h3>Graphic Design</h3>
                            <div class="skill">(HTML,CSS)</div>
                            <div class="progress">
                                <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                    <span class="bar-width">85%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>Microsoft</h3>
                            <div class="skill">(ASP.NET,AJAX,WEB SERVICE,LINQ,C#DEVELOPMENT)</div>
                            <div class="progress">
                                <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                    <span class="bar-width">95%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>Open Source</h3>
                            <div class="skill">(PHP,AJAX,JOOMLA,MAGENTO)</div>
                            <div class="progress">
                                <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="bar-width">80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>Database</h3>
                            <div class="skill">(SQL SERVER,MySQL,MS ACCESS)</div>
                            <div class="progress">
                                <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="bar-width">90%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <h2>Why People like us?</h2>
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                            Quality and experience
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseOne1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="media accordion-inner">
                                            <div class="pull-left">
                                                <img class="img-responsive" src="~/images/accordion1.png">
                                            </div>
                                            <div class="media-body">
                                                <h4>We guarantee quality coding.</h4>
                                                <p>Any project developed by our developers will contain architecture based, modular, convention maintained, non redundant and future proof (easy to add new features and modify and existing feature) codes and database.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                            Affordable and flexible pricing
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Minimum possible rates in comparison to the quality of service we provide. It is very hard to find another Web/Mobile development company who will deliver you this quality at this price with a future support assurance.
                                        <br /> We will arrange for a  free pre-delivery quality review for any web/Mobile application development by our developers – it removes the chances of common errors generally ignored  by developers
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                            Future Support Guaranteed.
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseThree1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        We will provide support for any Web/Mobile project done by our developers. We will not run away.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                            Cancel the deal anytime
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseFour1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        You can cancel the deal anytime in first 15 days. No hassle, we will refund the unused money deducting just money transfer fees.
                                    </div>
                                </div>
                            </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Recent Works</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item1.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item2.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="~/images/portfolio/recent/item8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="~/images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->
    <!--<section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                    <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Responsive Web Design</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Premium Plugin Included</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Predefine Layout</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Our Philosopy</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">What We Do?</a></li>
                                </ul>
                            </div>
                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="img-responsive" src="images/tab2.png">
                                            </div>
                                            <div class="media-body">
                                                <h2>Adipisicing elit</h2>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="img-responsive" src="images/tab1.png">
                                            </div>
                                            <div class="media-body">
                                                <h2>Adipisicing elit</h2>
                                                <p>
                                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                    </div>

                                    <div class="tab-pane fade" id="tab4">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab5">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>Testimonials</h2>
                        <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>-John Doe/</strong> Director of corlate.com</span>
                            </div>
                        </div>
                        <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>-John Doe/</strong> Director of corlate.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--/#content-->
    <!--<section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a question or need a custom quote?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--/#conatcat-info-->
    <!--/#bottom-->
</div>